<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="upper_blue_box"></div>
    <div>
        <a href="{{ url_for('index') }} " class="btn btn-menu">
            <img src="{{ url_for('static', filename='menu-icon.png') }}" class="icon icon-menu">
        </a>  
        <a href="{{ url_for('register') }}" class="btn btn-register">
            <img src="{{ url_for('static', filename='register-icon.png') }}" class="icon register-icon">
        </a>
        <a href="{{ url_for('cart') }} " class="btn btn-cart">
            <img src="{{ url_for('static', filename='cart-icon.png') }}" class="icon cart-icon">
        </a>
        <a href="{{ url_for('checkout') }}" class="btn btn-checkout">Оформить заказ</a>   
    </div>
    ВАША КОРЗИНА
    <ul class="product-list">
            {% with last_message = get_flashed_messages(with_categories=true) | first %}
                {% if last_message %}
                <div class="alert alert-warning-cart">
                    {{ last_message[1] }}
                </div>
            {% endif %}
            {% endwith %}
        <!-- {% for message in get_flashed_messages() %}
            <div class="alert alert-warning-cart"> 
            {{ message }} </div> 
            {% endfor %}     -->
            {% for product in products %}
        <li>
            
            <a href="{{ url_for('product', product_id=product['id']) }}"  class="product-link" id="pr{{ product['id'] }}">
            </a>
            <h2>
                {{ product['price'] }} руб.
            </h2>
            <p1>
                {{ product['name'] }}
            </p1>
            <a href="{{ url_for('remove_from_cart', product_id=product['id']) }}" class="add-to-cart">
                <img src="{{ url_for('static', filename='remove-icon.png') }}" class="icon add-to-cart-icon">
                <p3>
                    Удалить из корзины
                </p3>
            </a>
            <a class="product-background">
            </a>
        </li>
       {% endfor %}
    </ul>
    {% if order_confirmed %}
        <div class="modal-overlay">
            <div class="modal-window">
                <h2>Заказ оформлен!</h2>
                <p>Спасибо за покупку!</p>
                <a href="{{ url_for('index') }}" class="close-button">Закрыть</a>
            </div>
        </div>
    {% endif %}
</body>
</html>
