<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="upper_blue_box"></div>
    <div>
        <a href="{{ url_for('index') }} " class="btn btn-menu">
            <img src="{{ url_for('static', filename='menu-icon.png') }}" class="icon icon-menu">
        </a>  
        <a href="{{ url_for('register') }}" class="btn btn-register">
            <img src="{{ url_for('static', filename='register-icon.png') }}" class="icon register-icon">
        </a>
        <a href="{{ url_for('cart') }} " class="btn btn-cart">
            <img src="{{ url_for('static', filename='cart-icon.png') }}" class="icon cart-icon">
        </a>    
    </div>
    <ul class="product-list">
        {% for product in products %}
        <li>
            
    
            <a href="{{ url_for('product', product_id=product['id']) }}"  class="product-link" id="pr{{ product['id'] }}">
            </a>
            
            <h2>
                {{ product['price'] }} руб.
            </h2>
            <p1>
                {{ product['name'] }}
            </p1>
            <a href="{{ url_for('add_to_cart', product_id=product['id']) }}" class="add-to-cart">
                <img src="{{ url_for('static', filename='add-to-cart-icon.png') }}" class="icon add-to-cart-icon">
                <p3>
                    Добавить в корзину
                </p3>
            </a>
            <a class="product-background">
            </a>
        </li>
       {% endfor %}
    </ul>
</body>
</html>
