<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Регистрация</h1>
        <div id="upper_blue_box"></div>
    <div>
        <a href="{{ url_for('index') }} " class="btn btn-menu">
            <img src="{{ url_for('static', filename='menu-icon.png') }}" class="icon icon-menu">
        </a>  
        <a href="{{ url_for('register') }}" class="btn btn-register">
            <img src="{{ url_for('static', filename='register-icon.png') }}" class="icon register-icon">
        </a>
        <a href="{{ url_for('cart') }} " class="btn btn-cart">
            <img src="{{ url_for('static', filename='cart-icon.png') }}" class="icon cart-icon">
        </a>    
    </div>
    <form action="{{url_for('register')}}" method="post">
    <!-- поле ввода имени -->



    <div class="form-group">
        <label>Имя</label>
        <input type="text" name="username" class="form-control" required>
    </div>    
    <!-- поле ввода электронной почты -->
    <!-- <div class="form-group">
        <label>Электронная почта</label>
        <input type="email" name="email" class="form-control" required />
    </div>  -->   
    <!-- поле ввода пароля -->
    <div class="form-group">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    {% for message in get_flashed_messages() %}
     <div class="alert alert-warning-register"> 
         {{ message }} </div> 
         {% endfor %}
    <!-- кнопка отправки данных на сервер -->
    <div class="form-group">
        <button type="submit" name="submit" class="btn-login">Зарегистрироваться</button>
    </div>
    <!-- вход для тех, у кого уже есть аккаунт -->
    <div class="login-inline">
        <span>Уже зарегистрированы?</span>
        <a href="{{ url_for('login') }}" class="btn-login-small">Войти в систему</a>
    </div>
</form>
</form>

</body>
</html>

